*{
    margin: 0px;
    box-sizing: border-box;
}

main {
    background-color: #add8e6;
    height: 100vh;    
}

main section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.container_login{
    background-color: #30da1d5d;
    border-radius: 15px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.label_generic {
    margin: 10px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.input_generic {
    margin: 0 10px;
    border-radius: 15px;
    padding: 8px;
    width: 90%;
}

.btn-submit{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

.btn-submit:hover{
    background-color: rgb(226, 221, 221);
    transform: scale(1.10);
}